body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activeStep {
  background-color: red;
}

/*pitch input*/
.pitchInput {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 0.1rem;
  font-size: 0.9rem;
}
.pitchValue {
  min-width: 3rch;
}
.pitchChangeButtons {
  display: flex;
  flex-direction: column;
  height: 1rem;
}
.pitchUpButton, .pitchDownButton {
  background-color: #e1e1e1;
  color: grey;
  border: none;
  font-size: 0.3rem;
}
.pitchUpButton:hover, .pitchDownButton:hover {
  background-color: #c5c5c5;
}
.pitchUpButton:active, .pitchDownButton:active {
  background-color: #a1a1a1;
}

.pitchInput:hover > [role="tooltip"],
.pitchInput:focus + [role="tooltip"] {
  display: block;
}
.pitchInputTip {
  display: none;
  background-color: white;
  position: absolute;
  /*this only works because the parent has position: relative*/
  left: 100%;
  margin-left: 0.25rem;
  width: 20rch;
}