body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activeStep {
  background-color: red;
}

.seqStepsBox {
  width: 24rem;
  height: 24rem;
  display: grid;
  align-content: center;
  justify-items: center;
}
.seqStepBox:nth-child(1){
  transform: translate(10rem);
}
.seqStepBox:nth-child(2){
  transform: rotate(45deg) translate(10rem) rotate(-45deg);
}
.seqStepBox:nth-child(3){
  transform: rotate(90deg) translate(10rem) rotate(-90deg);
}
.seqStepBox:nth-child(4){
  transform: rotate(135deg) translate(10rem) rotate(-135deg);
}
.seqStepBox:nth-child(5){
  transform: rotate(180deg) translate(10rem) rotate(-180deg);
}
.seqStepBox:nth-child(6){
  transform: rotate(225deg) translate(10rem) rotate(-225deg);
}
.seqStepBox:nth-child(7){
  transform: rotate(270deg) translate(10rem) rotate(-270deg);
}
.seqStepBox:nth-child(8){
  transform: rotate(315deg) translate(10rem) rotate(-315deg);
}


.seqStepBox {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

/*pitch input*/
.pitchInput {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid grey;
  border-radius: 2px;
  padding: 0.1rem;
  font-size: 0.9rem;
}
.pitchValue {
  min-width: 3rch;
}
.pitchChangeButtons {
  display: flex;
  flex-direction: column;
  height: 1rem;
}
.pitchUpButton, .pitchDownButton {
  background-color: #e1e1e1;
  color: grey;
  border: none;
  font-size: 0.3rem;
}
.pitchUpButton:hover, .pitchDownButton:hover {
  background-color: #c5c5c5;
}
.pitchUpButton:active, .pitchDownButton:active {
  background-color: #a1a1a1;
}